body{
    background-color: #f4f1e9;
}

.navbar{
    background-color: #d68752;
}

.navbar-brand,
.nav-link {
    color: #fff7e2;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #fff7e2;
}

.btn{
    background-color: #ffffff;
}

.btn:hover{
    background-color: #fdb837;
}

.carousel-inner{
    background-color: #f4f1e9;
}

.carousel-item img{
    height: 900px;
}

img{
    width: 100%;
}

#imgs{
    height: 260px;
}

.card{
    margin-top: 5%;
    margin-left: 10%;
    box-shadow: 6px 6px 0px #fdb837;
    border-color: #e0d1b5;
}

.btn-primary{
    background-color: #c55103;
    border-color: #c55103;
    display: flex;
    justify-content: center;
    margin-top: 16%;
}

.btn-primary:hover{
    background-color: #a14405;
    border-color: #a14405;
}

footer{
    background-color: rgb(71, 35, 5);
    margin-top: 10%;
}

.mb-1 a{
    text-decoration: none;
}

.mb-1 a:hover{
    text-decoration: underline;
}

.mb-3{
    color: #fff7e2;
}